* {
    box-sizing: border-box;
}
/* main {
    display:grid;
} */
.text {
    /* margin: auto; */
    max-width: 65ch;
}
.weight {
    font-weight: 500;
}


/* .padding {
    padding: 1rem;
} */
.level-item:hover{
    color:brown;
    text-decoration: brown underline 3px;
}

