* {
    box-sizing: border-box;
}
main {
    display:grid;
}
.text {
    /* margin: auto; */
    max-width: 65ch;
}
.weight {
    font-weight: 500;
}
.box {
    margin-inline: auto;
    max-width: 55ch;
    min-width: 35ch;
}
.font {
    font-size: 1.5rem;
}
.padding {
    padding: 1rem;
}
.level-item:hover{
    color:brown;
    text-decoration: brown underline 3px;
}

